---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Main page">
	<div class="bg-red-800 p-4">Hello World!</div>
	<Footer/>
</Layout>
