---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import Cards from "../components/Cards.astro";
import UserCount from "../components/UserCount.astro";
import Hero from "../components/Hero.jsx";
import Slider from "../components/Testimonials.jsx";
import { testimonial } from "../assets";
import Form from "../components/Form.jsx";
import FAQs from "../components/FAQs.astro";
import HowItWorks from "../components/HowItWorks.astro";
---

<Layout title="Main page">
  <div class="relative w-full">
    <img src="blobs/blob1.png" class="absolute top-32 right-0" />
    <img src="blobs/blob2.png" class="absolute top-0 left-0" />
    <img src="blobs/blob3.png" class="absolute top-[1800px] left-0" />
    <img src="blobs/blob4.png" class="absolute bottom-0 right-0" />
        <div class="relative w-full z-10">
      <Navbar />
      <div class="bg-cover bg-no-repeat bg-center">
        <Hero client:load />
      </div>
      <HowItWorks />
      <Slider client:only="react" />
      <UserCount />
      <Cards />
      <FAQs />
      <Form client:load />
      <Footer />
    </div>
  </div>
</Layout>
