---
interface Props {
	title: string;
	body: string;
	img_href: string;
	type: boolean;
}

const { title, body, img_href, type } = Astro.props;
---

<div class=`shadow-2xl ${type ? "bg-pri-80": "bg-white"} w-[360px] h-96 pt-20 pb-12 px-12 flex flex-col rounded-[32px] justify-between items-center`>
	<img class="h-20" src={img_href}>
	<div class=`${type ? "text-sec-80": "text-pri-80"} font-semibold text-2xl flex justify-center`>{title}</div>
	<div class=`${type ? "text-white": "text-gray-500"} text-md flex text-center`>{body}</div>
</div>