---
---

<div class="pl-12 pt-28 flex gap-16">
    <img src="laptop.png" class="w-1/2 m-4">
    <div class=`shadow-2xl h-auto bg-white w-full rounded-l-2xl flex flex-col py-12 pl-16 justify-between`>
        <div class="flex items-center gap-8">
            <button id="mybutton" type="button" class=`p-2 hover:border-sec-80 items-center rounded-full border-4 border-pri-60 text-xl font-bold bg-pri-80 h-12 w-12 flex justify-center text-white`>1</button>
            <div class="font-bold text-xl">Join a shopping session</div>
        </div>
        <div class="flex items-center gap-8">
            <button id="mybutton" type="button" class=`p-2 hover:border-sec-80 items-center rounded-full border-4 border-pri-60 text-xl font-bold bg-pri-80 h-12 w-12 flex justify-center text-white`>2</button>
            <div class="font-bold text-xl">Shop as you do</div>
        </div>
        <div class="flex items-center gap-8">
            <button id="mybutton" type="button" class=`p-2 hover:border-sec-80 items-center rounded-full border-4 border-pri-60 text-xl font-bold bg-pri-80 h-12 w-12 flex justify-center text-white`>3</button>
            <div class="font-bold text-xl">Let us do the work</div>
        </div>
        <div class="flex items-center gap-8">
            <button id="mybutton" type="button" class=`p-2 hover:border-sec-80 items-center rounded-full border-4 border-pri-60 text-xl font-bold bg-pri-80 h-12 w-12 flex justify-center text-white`>4</button>
            <div class="font-bold text-xl">Pick up your parcel</div>
        </div>
    </div>
</div>

<script>
    let number_ = 1;
    let buttonCSS = "p-2 hover:border-sec-80 items-center rounded-full border-4 text-xl font-bold bg-pri-80 h-12 w-12 flex justify-center text-white";
    
    const buttons = document.querySelectorAll("button[id='mybutton']");
    updateButtonClasses();
      // Handle clicks on each button.
    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            number_ = parseInt(button.innerHTML);
            updateButtonClasses();
        });
    });

    function updateButtonClasses() {
        const buttons = document.querySelectorAll("button[id='mybutton']");

        buttons.forEach(button => {
            if(button.innerHTML == number_.toString()){
            button.className = buttonCSS + " border-sec-80";
            }else{
            button.className = buttonCSS + " border-pri-60";
            }
        });
    }
</script>