<div class="shadow-xl h-32 w-full flex px-28 items-center justify-between">
    <div><img src="logo-img.png"></div>
    <div class="flex font-semibold text-xl gap-24">
        <a href="#" class="hover:underline decoration-sec-100 decoration-4 hover:underline-offset-2">Mission</a>
        <a href="#" class="hover:underline decoration-sec-100 decoration-4 hover:underline-offset-2">About</a>
        <a href="#" class="hover:underline decoration-sec-100 decoration-4 hover:underline-offset-2">Faq's</a>
        <a href="#" class="hover:underline decoration-sec-100 decoration-4 hover:underline-offset-2">Support</a>
    </div>
</div>