---
import { Icon } from "astro-icon";
---

<div class="h-96 bg-gray-100 px-32 pt-20">
  <div class="flex flex-col">
    <div>
      <div class="text-4xl font-sans font-bold">
        Join <span class="text-pri-100">6,023</span> others <br /> on the
        movement today!
      </div>
      <div class="text-base font-sans pt-2">
        Stop wasting money and killing the earth
      </div>
    </div>
    <div class="pt-10">
      <a href="#joinus">
        <button
          type="submit"
          class="justify-center items-center bg-sec-100 py-2 px-10 rounded-xl outline-none w-fit text-black font-bold shadow-md shadow-primary"
        >
          Join Now.
        </button>
      </a>
    </div>
  </div>
</div>
